@import "../scss/variables.scss";

.custom-btn {
  background-color: $primary-color;
  border-radius: 0%;
  border: none;
  width: 100%;
  &:hover {
    transition-duration: 0.4s;
    transition-property: background-color;
    background-color: $primary-color_dark;
  }

  &:focus {
    background-color: $primary-color_dark !important;
    box-shadow: none !important;
  }

  &:active {
    background-color: $primary-color_dark;
  }
}
